{% extends 'accueil.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block head %}Catégories{% endblock %}

{% block body %}
    <div class="container col-md-12">
        
        <div class="row">
            <div class="container col-md-6">
            <div class="card">
                <h4 class="card-header text-center">Liste des catégories</h4>
                <div class="card-body">
                    <table class="table table-bordered">
                        <th>ID</th>
                        <th>NOM CATEGORIE</th>
                    {% for c in categories %}
                        <tr>
                            <td>{{ c.id }}</td>
                            <td class="text-left">{{ c.nomCategorie }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
         <div class="container col-md-6">
            <div class="card">
                <h4 class="card-header text-center">Formulaire d'ajout d'une catégorie</h4>
                <div class="card-body mt-3">
                     {{ form(form) }} 
                </div>
            </div>
        </div>

    </div>
{% endblock %}
